<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="github-brodbuddy" value="https://nuget.pkg.github.com/Brodbuddy/index.json" />
    </packageSources>

    <packageSourceCredentials>
        <github-brodbuddy>
            <add key="Username" value="%GITHUB_USERNAME%" />
            <add key="ClearTextPassword" value="%GITHUB_TOKEN%" />
        </github-brodbuddy>
    </packageSourceCredentials>
</configuration>